**/node_modules
**/.next
**/dist
**/build
**/.expo
**/.turbo
**/coverage
**/.git
**/.github
**/.vscode
**/.idea
**/.env*
!**/.env.example
**/*.log
**/uploads
**/.DS_Store
**/Thumbs.db
**/README.md
**/DEPLOY.md
docker-compose*.yml
**/Dockerfile
